@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html, body {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  background-size: cover !important;
  align-items: center !important;
  background-image: url(images/bg-image.png);
  /* background: linear-gradient(-45deg, #97cee4, #83aee4, #70aaf1, #5c98e2, #9dc4f5) !important; */
  background-repeat: no-repeat !important;
  animation: bg 10s infinite !important;
  background-size: 500% 500% !important;
}
@keyframes bg{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 100%;
  }
  100%{
    background-position: 0% 50%;
  }
}

h1 {
  font-weight: 700 !important;
}

p {
  color: #635f57 !important;
}

#result-container {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: auto;
}

#result-container::-webkit-scrollbar{
  width: 8px;
  height: 10px;
}

#result-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

#result-container::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 10px;
}
